*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Jost',sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;

}
:root{
--bg-color:#ffffff;
--text-color:#000;
--secound-color:#a09dab;
--main-color:#f75023;
--big-font:5rem;
--h2-font:3rem;
--p-font:1.1rem;
}
body{
    background-color: var(--bg-color);
    color:var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top:0;
    right:0;
    z-index: index 1000;
    display: flex;
    align-items: center;
}